---
import Img from '../components/Img.astro'
import Gallery from '../components/Gallery.astro'

let { filenames, filename, alt, caption, fullscreenable, ...rest} = Astro.props
filenames = filenames || [filename]
fullscreenable = fullscreenable || false
---

<figure style={{width: "fit-content", height: "100%", margin: "3rem 0"}} class="center">
  {filenames.length === 1 ?
    <Img filename={filenames[0]} alt={alt} draggable={false} fullscreenable={fullscreenable} {...rest}/>
    :
    <div class="gallery">
      {filenames.map((filename: string) => (
        <Img filename={filename} alt={alt} draggable={false} height="500" fullscreenable={fullscreenable} {...rest}/>
      ))}
    </div>
  }
  {caption && <figcaption>{caption}</figcaption>}
  <!-- if slot name caption is passed, add figcaption -->
  {Astro.slots.caption && <figcaption><slot name="caption"/></figcaption>}
</figure>

<style>
    .gallery {
    display: grid;
    grid-auto-flow: column; 
    gap: 1rem;

    justify-content: start;
    
    padding: 0;
  }
</style>