---
// first party
import type { MarkdownLayoutProps } from "astro";

// third party
import getReadingTime from "reading-time";

// custom
import Based from "./Based.astro"
import Img from "../components/Img.astro";
import Heading from "../components/Heading.astro";
// import Button from "../components/Button.astro";


type PostFrontmatter = MarkdownLayoutProps<{
  title: string;
	description: string;
  created: string;
	updated: string;
  font: "sans" | "serif" | "mono";
  image: string;
  color: string;
  secondaryColor: string;
  headerLinks: Array<{href: string, label: string}>;
}>;

const { body, frontmatter, url } = Astro.props as PostFrontmatter & { url: string, body: string };

const readingTime = getReadingTime(body);
console.log(readingTime);
---

<Based frontmatter={frontmatter} url={url}>
  <Heading title={frontmatter.title} titleClass={`font-${frontmatter.font}`} subtitle={frontmatter.description} backgroundColor={frontmatter.color} secondaryColor={frontmatter.secondaryColor}>
    <Img filename={frontmatter.image} alt={frontmatter.title} class="header-image" loading="eager" slot="left"/>
    <div slot="right" style={{color: frontmatter.secondaryColor}}>
      <p>Created on {new Date(frontmatter.created).toLocaleDateString()}</p>
      <p>{readingTime.text}</p>
    </div>
  </Heading>
  <slot />
</Based>

<style>
  .header-image {
    height: 500px;
    width: 100%;
    object-fit: cover;

    mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, transparent 100%);
  }

  @media (max-width: 800px) {
    .header-image {
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, transparent 100%);
      height: 300px;
      width: 100%;
    }
    
  }

</style>